<!--
NOTICE

This software was produced for the U. S. Government
under Contract No. FA8702-13-C-0001, and is
subject to the Rights in Noncommercial Computer Software
and Noncommercial Computer Software Documentation Clause (DFARS) 252.227-7014 (JUN 1995)

 2013 The MITRE Corporation. All Rights Reserved. 
-->
<form>
  <fieldset>
    <div class="new-comment"><p>{{t comment.new}} {{#if FlexiconEmber.Auth.user.name}}
        {{FlexiconEmber.Auth.user.name}}
      {{else}}
        {{FlexiconEmber.Auth.user.email}}
      {{/if}}:</p>
      {{view Ember.TextArea valueBinding='comment' name='comment' viewName='commentField' rows="4" class='input input-xxlarge'}}
    </div>
    <a href='#' {{action create}} class='btn btn-success'><i class="icon-plus-sign"></i>&nbsp;{{t send}}</a>
  </fieldset>
</form>