<!--
NOTICE

This software was produced for the U. S. Government
under Contract No. FA8702-13-C-0001, and is
subject to the Rights in Noncommercial Computer Software
and Noncommercial Computer Software Documentation Clause (DFARS) 252.227-7014 (JUN 1995)

 2013 The MITRE Corporation. All Rights Reserved. 
-->
{{#if controller.content.isLoaded}}
	{{#each definition in controller}}
	<div class="row">
	{{#view FlexiconEmber.DefinitionsShowView contentBinding="definition"}}
  	<div class="span1"><h3 class="muted">{{view.adjustedIndex}}.</h3></div>
		<div class="span8">{{render "definitions.show" definition}}</div>
	
	{{/view}}
  </div>
	{{else}}
	<h3>{{t definition.title}}</h3>
    <div class="row definition">
      <div class="span9">
        <h4 class="muted small">there are no definitions</h4>
      </div>
    </div>
  {{/each}}
{{else}}
  <div class="row definition">
    <div class="span9">
		  <i class="icon-spin icon-spinner icon-large"></i> Loading...
    </div>
  </div>
{{/if}}
