<!--
NOTICE

This software was produced for the U. S. Government
under Contract No. FA8702-13-C-0001, and is
subject to the Rights in Noncommercial Computer Software
and Noncommercial Computer Software Documentation Clause (DFARS) 252.227-7014 (JUN 1995)

 2013 The MITRE Corporation. All Rights Reserved. 
-->
<h1>{{controller.entry.term}}</h1>
<p class="muted">{{controller.entry.language.fullName}}</p>
<h2 id="add-definitions">{{t definition.add}}</h2>
<form>
  <fieldset>
    <div>
      {{view Ember.TextArea valueBinding='text' name='text' rows='3' class='input span8' viewName='textField'}}
    </div>
    <a href='#' {{action create}} class='btn btn-success'><i class="icon-plus-sign"></i>&nbsp;{{t send}}</a>
    <a href='#' {{action cancel}} class='btn' style='margin-left:20px'>{{t cancel}}</a>
  </fieldset>
</form>
